@font-face {
    font-family: 'Quesha';
    font-style: normal;
    font-weight: 400;
    src: local('Quesha'), url('https://fonts.cdnfonts.com/s/22658/Quesha.woff') format('woff');
}
#Title
{
    text-align: center;
    color: #A2C1EA;
    font-weight: normal;
    
}
body
{
    background-color: #868898;
    font-family: 'Quesha';
    font-weight: normal;
    font-size: 25px;

}
#subTitle
{
    text-align: center;
    color: #A2EACB;
    font-weight: lighter;

}
table
{
    margin-left: auto;
    margin-right: auto;
}
.subMainLink
{
    display: inline-block;
    text-decoration: none;
    Color: #F5F5F5;
    border: 2px groove #F5F5F5;
    padding: 7px;
    margin: 10px;
    border-radius: 12px;
    text-align: center;
    
}
footer
{
    background-color: #9193A1;
}
#aboutContainer  
{
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 25px;
    background-color: #e9ecef;
}

#Summary
{
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 25px;
    background-color: #e9ecef;
    padding-left: 20px;
    padding-right: 20px;
}

#SummaryTable
{
    margin-left: 20px;
    margin-right: 20px;
}


.text
{
    background-color: #9193A1;
}

#contactUsContainer
{
    border-radius: 25px;
    background-color: #e9ecef;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.contactUsItem
{
    border-radius: 25px;
    background-color: #78c2ad;
    padding-left:20px;
    

}

.logo{
    width: 165px;
    height: 118px;
    padding-right: 100px;

}

/*
#indexContainer
{
    border-radius: 25px;
    background-color: #e9ecef;
}*/

footer
{
    text-align: center;
}
.relFooter
{
    position:relative;
    width:100%;
    bottom:0px;
}

.absFooter
{

    position:absolute;
    width:100%;
    bottom:0px;
}

a:hover
{
    font-weight: bolder;
}
